@model UAEPassOAuthCodeLibrary.UAEPassUser

@{
    ViewBag.Title = "UAEPass Success";
}

<h2>UAEPass Response</h2>

@{ 
    if(Model != null)
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Field Name
                    </th>
                    <th>
                        Field Value
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        Unique Profile ID (uuid)
                    </th>
                    <td>
                        @Model.uuid
                    </td>
                </tr>
                <tr>
                    <th>
                        userType
                    </th>
                    <td>
                        @Model.userType
                    </td>
                </tr>
                <tr>
                    <th>
                        idnNotVerified
                    </th>
                    <td>
                        @Model.idnNotVerified
                    </td>
                </tr>
                <tr>
                    <th>
                        EmiratesID (idn)
                    </th>
                    <td>
                        @Model.idn
                    </td>
                </tr>
                <tr>
                    <th>
                        idCardNumber
                    </th>
                    <td>
                        @Model.idCardNumber
                    </td>
                </tr>
                <tr>
                    <th>
                        idCardIssueDate
                    </th>
                    <td>
                        @Model.idCardIssueDate
                    </td>
                </tr>
                <tr>
                    <th>
                        idCardExpiryDate
                    </th>
                    <td>
                        @Model.idCardExpiryDate
                    </td>
                </tr>
                <tr>
                    <th>
                        cardHolderSignatureImage
                    </th>
                    <td>
                        @Model.cardHolderSignatureImage
                    </td>
                </tr>
                <tr>
                    <th>
                        fullnameEN
                    </th>
                    <td>
                        @Model.fullnameEN
                    </td>
                </tr>
                <tr>
                    <th>
                        fullnameAR
                    </th>
                    <td>
                        @Model.fullnameAR
                    </td>
                </tr>
                <tr>
                    <th>
                        firstnameEN
                    </th>
                    <td>
                        @Model.firstnameEN
                    </td>
                </tr>
                <tr>
                    <th>
                        firstnameAR
                    </th>
                    <td>
                        @Model.firstnameAR
                    </td>
                </tr>
                <tr>
                    <th>
                        lastnameEN
                    </th>
                    <td>
                        @Model.lastnameEN
                    </td>
                </tr>
                <tr>
                    <th>
                        lastnameAR
                    </th>
                    <td>
                        @Model.lastnameAR
                    </td>
                </tr>


                <tr>
                    <th>
                        nationalityEN
                    </th>
                    <td>
                        @Model.nationalityEN
                    </td>
                </tr>
                <tr>
                    <th>
                        nationalityAR
                    </th>
                    <td>
                        @Model.nationalityAR
                    </td>
                </tr>
                <tr>
                    <th>
                        gender
                    </th>
                    <td>
                        @Model.gender
                    </td>
                </tr>
                <tr>
                    <th>
                        dob
                    </th>
                    <td>
                        @Model.dob
                    </td>
                </tr>
                <tr>
                    <th>
                        mobile
                    </th>
                    <td>
                        @Model.mobile
                    </td>
                </tr>
                <tr>
                    <th>
                        email
                    </th>
                    <td>
                        @Model.email
                    </td>
                </tr>
                <tr>
                    <th>
                        emailNotVerified
                    </th>
                    <td>
                        @Model.emailNotVerified
                    </td>
                </tr>
                <tr>
                    <th>
                        photo
                    </th>
                    <td>
                        <img style="width:64px;height:auto" class="img-circle img-rounded" src="data:image/png;base64, @Model.photo" alt="User Image" />

                    </td>
                </tr>
                <tr>
                    <th>
                        maritalStatus
                    </th>
                    <td>
                        @Model.maritalStatus
                    </td>
                </tr>
                <tr>
                    <th>
                        sponsorType
                    </th>
                    <td>
                        @Model.sponsorType
                    </td>
                </tr>
                <tr>
                    <th>
                        sponsorNumber
                    </th>
                    <td>
                        @Model.sponsorNumber
                    </td>
                </tr>
                <tr>
                    <th>
                        passportNumber
                    </th>
                    <td>
                        @Model.passportNumber
                    </td>
                </tr>
                <tr>
                    <th>
                        passportCountryDescriptionEN
                    </th>
                    <td>
                        @Model.passportCountryDescriptionEN
                    </td>
                </tr>


                <tr>
                    <th>
                        passportCountryDescriptionAR
                    </th>
                    <td>
                        @Model.passportCountryDescriptionAR
                    </td>
                </tr>
                <tr>
                    <th>
                        passportIssueDate
                    </th>
                    <td>
                        @Model.passportIssueDate
                    </td>
                </tr>
                <tr>
                    <th>
                        passportExpiryDate
                    </th>
                    <td>
                        @Model.passportExpiryDate
                    </td>
                </tr>
                <tr>
                    <th>
                        passportTypeCode
                    </th>
                    <td>
                        @Model.passportTypeCode
                    </td>
                </tr>
                <tr>
                    <th>
                        passportCountryCode
                    </th>
                    <td>
                        @Model.passportCountryCode
                    </td>
                </tr>
                <tr>
                    <th>
                        idType
                    </th>
                    <td>
                        @Model.idType
                    </td>
                </tr>
                <tr>
                    <th>
                        cardSerialNumber
                    </th>
                    <td>
                        @Model.cardSerialNumber
                    </td>
                </tr>

                <tr>
                    <th>
                        occupationCode
                    </th>
                    <td>
                        @Model.occupationCode
                    </td>
                </tr>

                <tr>
                    <th>
                        titleEN
                    </th>
                    <td>
                        @Model.titleEN
                    </td>
                </tr>

                <tr>
                    <th>
                        titleAR
                    </th>
                    <td>
                        @Model.titleAR
                    </td>
                </tr>

                <tr>
                    <th>
                        motherFirstNameEN
                    </th>
                    <td>
                        @Model.motherFirstNameEN
                    </td>
                </tr>



                <tr>
                    <th>
                        motherFirstNameAR
                    </th>
                    <td>
                        @Model.motherFirstNameAR
                    </td>
                </tr>
                <tr>
                    <th>
                        motherFullNameEN
                    </th>
                    <td>
                        @Model.motherFullNameEN
                    </td>
                </tr>
                <tr>
                    <th>
                        motherFullNameAR
                    </th>
                    <td>
                        @Model.motherFullNameAR
                    </td>
                </tr>
                <tr>
                    <th>
                        familyNumber
                    </th>
                    <td>
                        @Model.familyNumber
                    </td>
                </tr>
                <tr>
                    <th>
                        husbandIDN
                    </th>
                    <td>
                        @Model.husbandIDN
                    </td>
                </tr>
                <tr>
                    <th>
                        sponsorName
                    </th>
                    <td>
                        @Model.sponsorName
                    </td>
                </tr>
                <tr>
                    <th>
                        residencyNumber
                    </th>
                    <td>
                        @Model.residencyNumber
                    </td>
                </tr>

                <tr>
                    <th>
                        residencyType
                    </th>
                    <td>
                        @Model.residencyType
                    </td>
                </tr>

                <tr>
                    <th>
                        residencyExpiryDate
                    </th>
                    <td>
                        @Model.residencyExpiryDate
                    </td>
                </tr>

                <tr>
                    <th>
                        placeOfBirthEN
                    </th>
                    <td>
                        @Model.placeOfBirthEN
                    </td>
                </tr>

                <tr>
                    <th>
                        placeOfBirthAR
                    </th>
                    <td>
                        @Model.placeOfBirthAR
                    </td>
                </tr>





                <tr>
                    <th>
                        occupationTypeEN
                    </th>
                    <td>
                        @Model.occupationTypeEN
                    </td>
                </tr>
                <tr>
                    <th>
                        occupationTypeAR
                    </th>
                    <td>
                        @Model.occupationTypeAR
                    </td>
                </tr>
                <tr>
                    <th>
                        occupationFieldCode
                    </th>
                    <td>
                        @Model.occupationFieldCode
                    </td>
                </tr>
                <tr>
                    <th>
                        companyNameEN
                    </th>
                    <td>
                        @Model.companyNameEN
                    </td>
                </tr>
                <tr>
                    <th>
                        companyNameAR
                    </th>
                    <td>
                        @Model.companyNameAR
                    </td>
                </tr>
                <tr>
                    <th>
                        qualificationLevelCode
                    </th>
                    <td>
                        @Model.qualificationLevelCode
                    </td>
                </tr>
                <tr>
                    <th>
                        qualificationLevelDescriptionEN
                    </th>
                    <td>
                        @Model.qualificationLevelDescriptionEN
                    </td>
                </tr>

                <tr>
                    <th>
                        qualificationLevelDescriptionAR
                    </th>
                    <td>
                        @Model.qualificationLevelDescriptionAR
                    </td>
                </tr>

                <tr>
                    <th>
                        degreeDescriptionEN
                    </th>
                    <td>
                        @Model.degreeDescriptionEN
                    </td>
                </tr>

                <tr>
                    <th>
                        degreeDescriptionAR
                    </th>
                    <td>
                        @Model.degreeDescriptionAR
                    </td>
                </tr>

                <tr>
                    <th>
                        fieldOfStudyCode
                    </th>
                    <td>
                        @Model.fieldOfStudyCode
                    </td>
                </tr>



                <tr>
                    <th>
                        fieldOfStudyEN
                    </th>
                    <td>
                        @Model.fieldOfStudyEN
                    </td>
                </tr>
                <tr>
                    <th>
                        fieldOfStudyAR
                    </th>
                    <td>
                        @Model.fieldOfStudyAR
                    </td>
                </tr>
                <tr>
                    <th>
                        placeOfStudyEN
                    </th>
                    <td>
                        @Model.placeOfStudyEN
                    </td>
                </tr>
                <tr>
                    <th>
                        placeOfStudyAR
                    </th>
                    <td>
                        @Model.placeOfStudyAR
                    </td>
                </tr>
                <tr>
                    <th>
                        dateOfGraduation
                    </th>
                    <td>
                        @Model.dateOfGraduation
                    </td>
                </tr>
                <tr>
                    <th>
                        homeAddressMobilePhoneNumber
                    </th>
                    <td>
                        @Model.homeAddressMobilePhoneNumber
                    </td>
                </tr>
                <tr>
                    <th>
                        homeLocationCode
                    </th>
                    <td>
                        @Model.homeLocationCode
                    </td>
                </tr>

                <tr>
                    <th>
                        homeAddressTypeCode
                    </th>
                    <td>
                        @Model.homeAddressTypeCode
                    </td>
                </tr>

                <tr>
                    <th>
                        homeAddressEmail
                    </th>
                    <td>
                        @Model.homeAddressEmail
                    </td>
                </tr>

                <tr>
                    <th>
                        homeAddressEmirateCode
                    </th>
                    <td>
                        @Model.homeAddressEmirateCode
                    </td>
                </tr>

                <tr>
                    <th>
                        homeAddressEmirateDescriptionEN
                    </th>
                    <td>
                        @Model.homeAddressEmirateDescriptionEN
                    </td>
                </tr>






                <tr>
                    <th>
                        homeAddressEmirateDescriptionAR
                    </th>
                    <td>
                        @Model.homeAddressEmirateDescriptionAR
                    </td>
                </tr>
                <tr>
                    <th>
                        homeAddressCityCode
                    </th>
                    <td>
                        @Model.homeAddressCityCode
                    </td>
                </tr>
                <tr>
                    <th>
                        homeAddressCityDescriptionAR
                    </th>
                    <td>
                        @Model.homeAddressCityDescriptionAR
                    </td>
                </tr>
                <tr>
                    <th>
                        homeAddressStreetEN
                    </th>
                    <td>
                        @Model.homeAddressStreetEN
                    </td>
                </tr>
                <tr>
                    <th>
                        homeAddressStreetAR
                    </th>
                    <td>
                        @Model.homeAddressStreetAR
                    </td>
                </tr>
                <tr>
                    <th>
                        homeAddressPOBox
                    </th>
                    <td>
                        @Model.homeAddressPOBox
                    </td>
                </tr>
                <tr>
                    <th>
                        homeAddressAreaCode
                    </th>
                    <td>
                        @Model.homeAddressAreaCode
                    </td>
                </tr>

                <tr>
                    <th>
                        homeAddressAreaDescriptionEN
                    </th>
                    <td>
                        @Model.homeAddressAreaDescriptionEN
                    </td>
                </tr>

                <tr>
                    <th>
                        homeAddressAreaDescriptionAR
                    </th>
                    <td>
                        @Model.homeAddressAreaDescriptionAR
                    </td>
                </tr>

                <tr>
                    <th>
                        homeAddressBuildingNameEN
                    </th>
                    <td>
                        @Model.homeAddressBuildingNameEN
                    </td>
                </tr>

                <tr>
                    <th>
                        homeAddressBuildingNameAR
                    </th>
                    <td>
                        @Model.homeAddressBuildingNameAR
                    </td>
                </tr>





                <tr>
                    <th>
                        homeAddressFlatNo
                    </th>
                    <td>
                        @Model.homeAddressFlatNo
                    </td>
                </tr>
                <tr>
                    <th>
                        homeAddressResidentPhoneNumber
                    </th>
                    <td>
                        @Model.homeAddressResidentPhoneNumber
                    </td>
                </tr>
                <tr>
                    <th>
                        workLocationCode
                    </th>
                    <td>
                        @Model.workLocationCode
                    </td>
                </tr>
                <tr>
                    <th>
                        workAddressTypeCode
                    </th>
                    <td>
                        @Model.workAddressTypeCode
                    </td>
                </tr>
                <tr>
                    <th>
                        workAddressEmirateCode
                    </th>
                    <td>
                        @Model.workAddressEmirateCode
                    </td>
                </tr>
                <tr>
                    <th>
                        workAddressCompanyNameEN
                    </th>
                    <td>
                        @Model.workAddressCompanyNameEN
                    </td>
                </tr>
                <tr>
                    <th>
                        workAddressCompanyNameAR
                    </th>
                    <td>
                        @Model.workAddressCompanyNameAR
                    </td>
                </tr>

                <tr>
                    <th>
                        workAddressEmirateDescriptionEN
                    </th>
                    <td>
                        @Model.workAddressEmirateDescriptionEN
                    </td>
                </tr>

                <tr>
                    <th>
                        workAddressEmirateDescriptionAR
                    </th>
                    <td>
                        @Model.workAddressEmirateDescriptionAR
                    </td>
                </tr>

                <tr>
                    <th>
                        workAddressCityCode
                    </th>
                    <td>
                        @Model.workAddressCityCode
                    </td>
                </tr>

                <tr>
                    <th>
                        workAddressCityDescriptionEN
                    </th>
                    <td>
                        @Model.workAddressCityDescriptionEN
                    </td>
                </tr>




                <tr>
                    <th>
                        workAddressCityDescriptionAR
                    </th>
                    <td>
                        @Model.workAddressCityDescriptionAR
                    </td>
                </tr>
                <tr>
                    <th>
                        workAddressStreetEN
                    </th>
                    <td>
                        @Model.workAddressStreetEN
                    </td>
                </tr>
                <tr>
                    <th>
                        workAddressStreetAR
                    </th>
                    <td>
                        @Model.workAddressStreetAR
                    </td>
                </tr>
                <tr>
                    <th>
                        workAddressPOBox
                    </th>
                    <td>
                        @Model.workAddressPOBox
                    </td>
                </tr>
                <tr>
                    <th>
                        workAddressAreaCode
                    </th>
                    <td>
                        @Model.workAddressAreaCode
                    </td>
                </tr>
                <tr>
                    <th>
                        workAddressAreaDescriptionEN
                    </th>
                    <td>
                        @Model.workAddressAreaDescriptionEN
                    </td>
                </tr>
                <tr>
                    <th>
                        workAddressAreaDescriptionAR
                    </th>
                    <td>
                        @Model.workAddressAreaDescriptionAR
                    </td>
                </tr>

                <tr>
                    <th>
                        workAddressBuildingNameEN
                    </th>
                    <td>
                        @Model.workAddressBuildingNameEN
                    </td>
                </tr>

                <tr>
                    <th>
                        workAddressBuildingNameAR
                    </th>
                    <td>
                        @Model.workAddressBuildingNameAR
                    </td>
                </tr>

                <tr>
                    <th>
                        workAddressLandPhoneNumber
                    </th>
                    <td>
                        @Model.workAddressLandPhoneNumber
                    </td>
                </tr>

                <tr>
                    <th>
                        workAddressMobilePhoneNumber
                    </th>
                    <td>
                        @Model.workAddressMobilePhoneNumber
                    </td>
                </tr>

                <tr>
                    <th>
                        workAddressEmail
                    </th>
                    <td>
                        @Model.workAddressEmail
                    </td>
                </tr>
            </tbody>
        </table>
    }
    else
    {
        <p>
            Authentication failure.
        </p>
    }
}

